name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ] 
        python-version: [ '3.7', '3.8' ]
        include:
          - os: macos-latest
            path: ~/Library/Caches/pip
          - os: ubuntu-latest
            path: ~/.cache/pip
          - os: windows-latest
            path: ~\AppData\Local\pip\Cache
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ${{ matrix.path }}
          key: ${{ runner.os }}-${{ env.pythonLocation }}-pip-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.pythonLocation }}-pip-
            ${{ runner.os }}-${{ env.pythonLocation }}-
      - name: Run tests
        env:
          TEST_PROJECT: ${{ secrets.TEST_PROJECT }}
          TEST_API_KEY: ${{ secrets.TEST_API_KEY }}
        run: |
          python -c "import sys; print(sys.version)"
          python -m pip install -e .
          python -m pip install coverage pytest-sugar pytest-rerunfailures pytest-xdist
          python -m coverage run -m pytest tests/ --cov=doc_utils/ -vv -rs -x --reruns 5 --reruns-delay 2 -n auto tests --cov-fail-under=50